{% extends 'header.html' %}
{% load static %}
{% block contant %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>
</head>

<body id="top">

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Doctor Deails</span>
          <h1 class="text-capitalize mb-5 text-lg">{{doctor.doctor.fname}}	</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Doctor Details</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section doctor-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="doctor-img-block">
					<img src="{{doctor.doctor.profile_pic.url}}" style="width:400px; height:300px;" alt="" class="img-fluid w-100">

					<div class="info-block mt-4">
						<h4 class="mb-0">{{doctor.doctor.fname}} 	</h4>
						<p>{{doctor.doctor_speciality}}</p>

						
					</div>
				</div>
			</div>

				<div class="doctor-details mt-8 mt-lg-0">
				<div class="sidebar-widget  gray-bg p-4">
					<h5 class="mb-4">Make Appoinment</h5>

					<ul class="list-unstyled lh-35">
						<li class="d-flex justify-content-between align-items-center">
							<span>Monday - Friday </span>
							<br>
							<span> {{doctor.doctor_start_time}} - {{doctor.doctor_end_time}}</span>
						</li>
						
						<li class="d-flex justify-content-between align-items-center">
							<span>Sunday</span>
							<span>Closed</span>
						</li>
					</ul>

					
					<a href="{% url 'makeappointment' pk=doctor.pk %}" class="btn btn-main-2 btn-round-full mt-3">Make an Appoinment<i
							class="icofont-simple-right ml-2  "></i></a>
				</div>
		</div>
	</div>
</section>



  </body>
  </html>
  {% endblock %}