{% extends 'doctor_header.html' %}
{% load static %}
{% block contant %}

<!DOCTYPE html>


<html lang="en">
<head>


</head>

<body id="top">

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Prescription</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->


<section class="contact-form-wrap section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <h2 class="text-md mb-2">Prescription</h2>
          <div class="divider mx-auto my-4"></div>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form id="contact-form" class="contact__form " method="POST" action="{% url 'prescription_by_doctor' pk=appointments.pk %}">
          {% csrf_token %}
          <!-- form message -->
          {% if msg %}
          <b style="color:blue;">{{msg}}</b>
          {% endif %}
       
          <div class="row">
            <div class="col-lg-6">
              <h6>Doctor name </h6>
              <div class="form-group">
                <input name="name" id="name" type="text" class="form-control" value="{{appointments.doctor.doctor.fname}}  {{appointments.doctor.doctor.lname}}">
              </div>
            </div>

            <div class="col-lg-6">
              <h6>Patien name </h6>

              <div class="form-group">
                <input name="email" id="email" type="text" class="form-control" value="{{appointments.patient.fname}}  {{appointments.patient.lname}}">
              </div>
            </div>
             </div>

          <div class="form-group-2 mb-4">
              <h6> prescription</h6>

            <textarea name="prescription" id="message" class="form-control" rows="8" placeholder="Prescription by doctor" required>{{appointments.prescription}}</textarea>
          </div>

          <div>
            <input class="btn btn-main btn-round-full" name="submit" type="submit" value="Send Messege"></input>
            <a href="{% url 'doctor_appointment' %}">
            <input class="btn btn-main btn-round-full" name="button" type="button" value="Cancle"></input></a>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>


  </body>
  </html>
  {% endblock %}