{% extends 'header.html' %}
{% load static %}
{% block contant %}
<!DOCTYPE html>


<html lang="en">
<head>

</head>

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Project </span>
          <h1 class="text-capitalize mb-5 text-lg">What I Do</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section service-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<a href="" target="_blank">
					<img src="{% static 'images/service/healthcare1.png'%}" alt="" class="img-fluid">
					<div class="content">

						<h4 class="mt-4 mb-2 title-color">Doctor Appointment System</h4>
						</a>
						<p class="mb-4">In this web page i use Ajax, paytm api, email api etc.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<a href="http://sahuumang.pythonanywhere.com/" target="_blank">
					<img src="{% static 'images/service/sahuumang.png'%}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2  title-color">Online mobile shopping</h4>
						</a>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>
			


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<a href="http://umangi.pythonanywhere.com/" target="_blank">
					<img src="{% static 'images/service/umangi.png'%}"  alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Online shose shope for  man </h4>
					</a>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<a href="http://umanghealthcare.pythonanywhere.com/" target="_blank">
					<img src="{% static 'images/service/umanghealth.png'%}" alt=""  class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Doctor appointment system</h4></a>
						<p class="mb-4">In this page i add more thing compair any other web applicaton that i made 
						In this web application i add By the email patient get update of there appointment by email like if doctor cancel appointment, accessept the appointment, and if patient pay fee than also get a update on email with full details. </p>
					</div>
				</div>
			</div>	
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<a href="http://umangsahuji.pythonanywhere.com/" target="_blank">
					<img src="{% static 'images/service/umangsahuji.png'%}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">E- cloth shope </h4>
					</a>
						<p class="mb-4">This web application based on online cloth shop. </p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<a href="http://umangcraft.pythonanywhere.com/" target="_blank">
					<img src="{% static 'images/service/caraft.png'%}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Byu home appliances online </h4>
						<p class="mb-4">In this web application user can easliy by homeappliances at easy formate. </p>
					</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



  </body>
  </html>
  {% endblock %}